@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #091833;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.layout {
  @apply mx-auto my-12 w-10/12 lg:w-9/12;
}

.tag-clip-path {
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 95% 100%, 0% 100%);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
