@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #091833;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.layout {
  @apply mx-auto my-12 w-10/12;
}



.slide-bottom-border {
  padding: 20px;
  background-color: white;
  border: none; /* Initially no border */
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
